img{
    height: 500px;
    width: 500px;
}
#headerdiv { 
  
    width: 100vw;
    background-color:rosybrown ;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    
} 
#headerdiv a {
    color: black;
}
#login {
    margin-right: 3%;
    margin-top: 2% ;
    margin-bottom: 2%;
    text-decoration: none;


}
#footerdiv{
    background-color:rosybrown;
    text-align: center;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}
#contactdiv{
    order: 1;
    margin: 1%;   
}
#contactdiv a {
    text-decoration: none;
    color: black;
}
#text1{
    order: 2;   
}
#socialmedia{
  order: 3;
 padding: 1%;
}
#socialmedia a{
    text-decoration: none;
}
#contactdiv{
    float: left;
    margin: 1%;
}
#innerdiv {
    padding-left: 4%;
    padding-right: 4%;
}
#innerdiv img {
    padding-top: 1%;
} 
#hotelform{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
}
#div1{
    display: flex;
    width: 75%;
    height: 100%;
    border-right:1px solid black ;
    justify-content: center;
}

#formtable{
    display: flex;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}
table tr td {
    padding-top: 10%;
    padding-bottom: 10%;
}
