#container{
    display: flex;
    flex-direction: column;
}
#innerdiv{
    order: 2;
}


#seach{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg )  ;
    height: 38rem;
    width: cover;
    background-position: center;
    background-size: cover;
    justify-content: center;
}
#seach form{ 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 1.5rem;   
}
#seach input{
    position: absolute;
    padding: .4rem;
    border: .1rem;
    background-color:white;
    border-radius: 10%;
    outline: none;
}
#viewoftion{
   margin: 3%;
   border-radius: .5rem;
   background-color: #403e3d;
   width: 10rem;
   margin-left: 47%;
      } 
   #viewoftion a{
    text-decoration: none;
    color: black; 
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: 1.5rem;
   }
   .citylist{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
   }
.citylist a{
    text-decoration: none;
    color: black;
}
   .cityitem1 ,.cityitem2,.cityitem3,.cityitem4{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    margin-right: 8%;
    flex-wrap: wrap;
     
  }
  
  .cityitem1 img ,.cityitem2 img,.cityitem3 img,.cityitem4 img {
    display: block;
    width: 15rem;
    height: 15rem;
    border: .1rem;
    border-radius: 20%;
    box-shadow: 1rem 1rem 1rem grey;
  }
  
  .overlay1 , .overlay2, .overlay3, .overlay4{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    border-radius: 20%;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cityitem1:hover .overlay1 {
    opacity: 1;
  }
  .cityitem2:hover .overlay2 {
    opacity: 1;
  }
  .cityitem3:hover .overlay3 {
    opacity: 1;
  }
  .cityitem4:hover .overlay4 {
    opacity: 1;
  }
  .p1 ,.p2,.p3,.p4{
    color: #f1f1f1;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
    
   
  
