img{ 
    height: 130px;
    width: 130px;
}

#headerdiv { 
  
    width: 100vw;
    background-color:rosybrown ;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    
} 
#headerdiv a {
    color: black;
}
#login {
    margin-right: 3%;
    margin-top: 2% ;
    margin-bottom: 2%;
    text-decoration: none;


}
#footerdiv{
    background-color:rosybrown;
    text-align: center;
    position: sticky;
    bottom: 0px;
}
#contactdiv{
    float: left;
    margin: 1%;
    
}
#contactdiv a {
    text-decoration: none;
    color: black;
}
#text1{
    display: inline-block;   
}

#socialmedia{
    float: right;
 padding: 2px;
}
#socialmedia a{
    text-decoration: none;
}
#contactdiv{
    float: left;
    margin: 1%;
    
}
#seach{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg )  ;
    height: 380px;
    width: cover;
background-position: center;
background-size: cover;
justify-content: center;
}
#seach form{ 
    align-items: center;
    justify-content: center;
}
   
   
   #viewoftion a{
    text-decoration: none;
    color: black;
   align-items: center;
   }
   
#citylist{
    margin-left: 15%;
    margin-right: 15%;
    
     
}
#citylist img{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px;
    border-radius: 20%;
}
     


    
