#mapview img {
    height: auto ;
    width: auto;
}
#mapview{
    display: none;
}
img {
    height: 200px;
    width: 200px;
}
#headerdiv { 
  
    width: 100vw;
    background-color:rosybrown ;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    
} 
#headerdiv a {
    color: black;
}
#login {
    margin-right: 3%;
    margin-top: 2% ;
    margin-bottom: 2%;
    text-decoration: none;


}
#listmenu{
   display: flex;
   flex-wrap: wrap;    
}
.item1,.item2,.item3{
 background-color: lightgrey;
 width: 40%;
 margin: 4%;
 display: flex;
 flex-direction: row;
}
#hoteldetail2 ,#hoteldetail3 ,#hoteldetail1 {
    padding-left: 2%;
}
#hoteldetail1 a{
    text-decoration: none;
    color: black;
}

#footerdiv{
    background-color:rosybrown;
    text-align: center;
    position: sticky;
    bottom: 0px;
   display: flex;
   justify-content: space-between;
}
#contactdiv{
   order: 1;
   padding: 1%;  
}
#contactdiv a {
    text-decoration: none;
    color: black;
}
#text1{
    order: 2;
}

#socialmedia{
  order: 3;
  padding: 1%;
}
#socialmedia a{
    text-decoration: none;
}
#unorderlist a{
   text-decoration: none;
   color: black;
   padding: 20px;
    
}
#unorderlist li{ 
    display: inline-block;
    
}

#unorderlist ul{
    list-style-type: none;
    padding-top: 2px;
    
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

#innerdiv{
   width: 100vw;
   height: auto;
}
