#mapview img {
    height: auto ;
    width: auto;
}
#mapview{
    display: none;
    opacity: 0;
}
#mapview:target {
    display:inherit;
    opacity: 1;
  }
img {
    height: 20rem;
    width: 20rem;
}

#listmenu{
   display: flex;
   flex-wrap: wrap;
       
}
.item1,.item2,.item3{
 background-color: lightgrey;
 width: 40%; 
 margin: 4%;
 display: flex;
 font-size: 1.5rem;
 flex-direction: row;
}

#hoteldetail2 ,#hoteldetail3 ,#hoteldetail1 {
     padding-left: 3%; 
     width: 60%;
}
#hoteldetail1 a{
    text-decoration: none;
    color: black;
}
  .checked{
    color: orange;
  }

#unorderlist{
   display: flex;
   justify-content: center;
   position: sticky;
    top: .5rem;
}
input[type="radio"]{
    display: none;
}
 #unorderlist label{
    border: .1rem solid lightblue;
    border-radius: .3rem;
    padding: .7rem 3rem; 
     margin : 5rem; 
}
#unorderlist label a{
    text-decoration: none;
    color: black;
 
}
input[type="radio"]:checked + label{
    background-color:lightblue ;
    color: #f1f1f1;
}
input[type="radio"]:checked + label:before {
    background-color:#f1f1f1 ;
    color: #403e3d;
}

#innerdiv{
   width: 100%;
   height: auto;
}
.item1:hover{
    background: rosybrown;
}
.item2:hover{
    background: rosybrown;
}
.item3:hover{
    background: rosybrown;
}


