#container{
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
#middlediv{
    order: 2;
}
img {
    max-height: 40rem;
    max-width: 30rem;
}
#containdiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(132,136,139);
    height: auto;
    width: auto;
    align-items: center;
}
#containtext{
    padding-left: 2%;
    padding-right: 2%;
}
#centerdiv{
  padding-left: 2%;
  padding-right: 2%;
margin: 4%;
}
#innerdiv{
    padding-top: 6%;
   margin-bottom: 2%;
    display: flex;
    justify-content: center; 
}
#paymentprocess{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rosybrown ;
    align-items: center;
    
}
#persiondetails{
 padding-left: 2%;
}

#Payment{
    padding-right: 2%;
}
#Payment a{
    text-decoration: none;
    background: springgreen;
    color: #f1f1f1;
    padding: .2rem;
    border-radius: .5rem;
    opacity: 0.6;
   pointer-events: none;
}
   