#container{
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#middlediv{
    order: 2;
}
img {
    max-height: 300px;
    max-width: 270px;
}
#containdiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(132,136,139);
    height: auto;
    width: auto;
    align-items: center;
}
#containtext{
    padding-left: 2%;
    padding-right: 2%;
}
#footerdiv{
    background-color:rosybrown;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 3;
}
#centerdiv{
    padding-left: 2%;
    padding-right: 2%;
  margin: 4%;
}
#contactdiv{
    order: 1; 
    padding-left: 2%;   
}
#contactdiv a {
    text-decoration: none;
    color: black;
}
#text1{
   order: 2;   
}

#socialmedia{
  order: 3;
  padding-right: 2%;
}
#socialmedia a{
    text-decoration: none;
}
#innerdiv{
    padding-top: 6%;
   margin-bottom: 2%;
    display: flex;
    justify-content: center; 
}
#paymentprocess{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rosybrown ;
    align-items: center;
    
}
#persiondetails{
 padding-left: 2%;
}
#headerdiv { 
    order: 1;
    width: 100vw;
    background-color:rosybrown ;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    
} 
#headerdiv a {
    color: black;
}
#login {
    margin-right: 3%;
    margin-top: 2% ;
    margin-bottom: 2%;
    text-decoration: none;
}
#Payment{
    padding-right: 2%;
}
#Payment a{
    text-decoration: none;
    color: black;
}
